<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Task List Configurations-->
    <add key="TaskInfoConfigPath" value="BuildTaskConfig.xml" />
    <!--Check Errors Configurations-->
    <add key="DBConsolidationErrorFileNames" value="ExchangeError;EnterpriseError;DBConsolToolError" />
    <add key="BuildErrorFileNames" value="Errors" />
    <add key="ErrorFolder" value="C:\Users\105171\Desktop\Errors" />
    <!--Copy Installer Configurations-->
    <add key="InstallerSourceFolder" value="C:\Users\105171\Desktop\AutoBuild" />
    <add key="InstallerDestinationFolder" value="\\ws-in1060\Share" />
    <add key="DaysToRetain" value="2" />
    <!--Mail Configurations-->
    <add key="MailSMTPServer" value="smtp.gmail.com" />
    <add key="MailFromAddress" value="bmcdevsystem@gmail.com" />
    <add key="MailToAddress" value="naresh.sampath@scientificgames.com;naresh.sampath@scientificgames.com" />
    <add key="MailPortAddress" value="25" />
    <add key="MailPassword" value="Abc@12345"/>
    <!--Logging - Temporarily Removed BMC Common - Performance Issue -->
    <add key="LogPath" value="C:\Logs\Autobuild.txt" />
    <add key="LogLevel" value="Debug" />
    <!-- Error, Warning, Info, Debug -->
    <add key="LogMode" value="TXT" />
    <!--Settings for the Immediate Logging
      ImmediateLogging false denotes loggs are buffered and written after buffer size had reached-->
    <add key="ImmediateLogging" value="true" />
    <!--Default Value : 8096 bytes , Value in bytes -->
    <add key="LogBufferSize" value="8096" />
    <add key="LogNoIdleTimer" value="False" />
    <!--Default Value : 1 Minute , Value in Milli Seconds -->
    <add key="LogIdleTimeInterval" value="60000" />
    <!--EOF Logging-->
  </appSettings>
</configuration>